body {
  background-color: #f5f5f5;
}

.intro {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr;
  gap: 1rem;
  height: calc(90vh - 70px);
  grid-template-rows: 200px 25px 120px;
  background-color: #f5f5f5;
}

.intro-nome {
  place-self: start;
  height: 12rem;
  grid-template-rows: min-content;
}

.intro-deco {
  position: relative;
  z-index: 0;
  top: -13rem;
  right: 2.2rem;
}

.intro h1 {
  font-size: 5rem;
  z-index: 1;
  position: relative;
}

.intro-icons {
  display: grid;
  grid-template-columns: 4.5rem 6rem 4.5rem 5rem 4.5rem 6rem;
  align-items: center;
  grid-row: 3;
}
.icon-linkedin {
  width: 3.5rem;
  height: 3.5rem;
}

.icon-email,
.icon-whatsapp {
  width: 3.8rem;
  height: 3.8rem;
}

.intro h3,
h4 {
  color: #7a7a7a;
}

@media (max-width: 1100px) {
  .intro {
    margin-top: -3rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 10rem auto;

    align-items: flex-start;
  }
  .intro-foto {
    grid-column: 1;
    width: 180px;
    height: 180px;
    grid-row: 4;
    margin: 0 50%;
  }
}

@media (max-width: 600px) {
  .intro {
    padding-top: 100px;
    width: 100%;
    height: 100vh;
  }

  .intro-deco {
    top: -8.5rem;
    height: 6rem;
    width: 6rem;
  }

  .intro-nome {
    height: 6rem;
    margin-bottom: 1.5rem;
  }

  .intro-foto {
    justify-self: center;
  }

  .intro h1 {
    font-size: 3rem;
  }

  .intro h3 {
    font-size: 1rem;
  }

  .intro-icons {
    grid-template-columns: 1fr 5fr;
    padding: 0.7rem 0;
    grid-template-rows: repeat(3, 3rem);
    margin-bottom: 5rem;
  }

  .icon-email,
  .icon-whatsapp {
    width: 2.2rem;
    height: 2.2rem;
    margin-left: 0.1rem;
  }

  .icon-linkedin {
    width: 2rem;
    height: 2rem;
    margin-left: 0.6vw;
  }
}

@media (max-width: 400px) {
  .intro {
    height: 110vh;
  }
}
