.intro {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  width: 100vw;
  padding-left: 10%;
}

.intro-foto {
  width: 360px;
  height: 360px;
  background: #e7e7e7;
  grid-row: 1 / -5;
}

.intro-nome {
  place-self: start;
  height: 12rem;
}

.intro-deco {
  position: relative;
  top: -13rem;
  right: 2.2rem;
  z-index: -1;
}

.intro h1 {
  font-size: 5rem;
}

.intro-icons {
  display: grid;
  grid-template-columns: 4.5rem 5rem 4.5rem 6rem 4.5rem 6rem;
  align-items: center;
}
.icon-linkedin {
  width: 3.5rem;
  height: 3.5rem;
}
.icon-whatsapp {
  width: 4rem;
  height: 4rem;
}

.icon-email {
  width: 3.8rem;
  height: 3.8rem;
}

.intro h3,
h4 {
  color: #7a7a7a;
}
