.projetos {
  background-color: #000;
  width: 100vw;
  height: 1000px;
  padding-top: 7rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.projetos h2 {
  font-size: 9rem;
  max-width: 18rem;
  word-wrap: break-word;
  color: #666666;
  margin-left: 10vw;
}

.projetos span {
  margin-right: 100px;
}

.projetos-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content;
  gap: 30px;
  margin-right: 10vw;
  margin-top: 30px;
}

.projetos-img img {
  max-width: 100%;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  border-bottom: 5px solid #3e8bff;
}

.projetos-img img:hover {
  opacity: 1;
  transform: scale(1.1);
  z-index: 2;
}

.projetos-container {
  position: relative;
}

.projetos-desc {
  position: absolute;
  color: white;
  width: 100%;
  text-align: center;
  top: 40%;
  font-size: 1.5rem;
  z-index: 1;
}

@media (max-width: 1400px) {
  .projetos h2 {
    font-size: 7.4rem;
    max-width: 14rem;
    line-height: 7.5rem;
  }
}

@media (max-width: 600px) {
  .projetos {
    grid-template-columns: 1fr;
    justify-items: center;
    grid-template-rows: auto;
    padding-top: 3rem;
  }

  .projetos h2 {
    font-size: 3rem;
    line-height: 3rem;
    word-wrap: normal;
    color: #a3a3a3;
    margin: 0;
    padding: 0;
    grid-row: inherit;
    max-width: 20rem;
  }

  .projetos span {
    margin-right: 0px;
  }
}
