.projetos {
  background-color: #000;
  width: 100vw;
  height: 1000px;
  padding-top: 7rem;
  display: grid;
}

.projetos h2 {
  font-size: 9rem;
  max-width: 20rem;
  word-wrap: break-word;
  color: #666666;
  margin-left: 10vw;
}

@media (max-width: 600px) {
  .projetos {
    grid-template-columns: 1fr;
    justify-items: center;
    grid-template-rows: auto;
    padding-top: 3rem;
  }

  .projetos h2 {
    font-size: 3rem;
    line-height: 3rem;
    word-wrap: normal;
    color: #a3a3a3;
    margin: 0;
    padding: 0;
    grid-row: inherit;
    max-width: 20rem;
  }
}
